<nav class="navbar navbar-expand-sm navbar-color">
  <div class="container-fluid d-flex">
    <span *ngIf="title" class="navbar-brand">
      {{title}}
    </span>
    <button class="navbar-toggler custom-toggler" style="color:black;" type="button" data-toggle="collapse" data-target="#appNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>                   
    </button>
      
    <!-- <div class="collapse navbar-collapse" id="appNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link d-none d-sm-block" routerLink="home" routerLinkActive= "active"><i class="fa fa-home"></i></a>
                <a class="nav-link d-block d-sm-none" href="#appNavbar" data-toggle="collapse" (click)="navigate('home')"><i class="fa fa-home"></i></a>
              </li>
          <li class="nav-item">
            <a class="nav-link d-none d-sm-block" routerLink="documents" routerLinkActive= "active">Handlingar</a>
            <a class="nav-link d-block d-sm-none" href="#appNavbar" data-toggle="collapse" (click)="navigate('documents')">Handlingar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-none d-sm-block" routerLink="cases" routerLinkActive= "active">Ärenden</a>
            <a class="nav-link d-block d-sm-none" href="#appNavbar" data-toggle="collapse" (click)="navigate('cases')">Ärenden</a>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</nav>
