<div id="content-main">
  <h3>Essvision Office add-in</h3>
  <div class="container">
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid d-flex">
        <div class="form-group">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <!--<a class="nav-link d-none d-sm-block" routerLink="home" routerLinkActive="active">-->
              <!-- <img src="assets/images/home-blue.png" class="myImg" /> -->
              <!-- <a routerLink="home" routerLinkActive="active" (click)="onGoBack()"> -->
                <img src="assets/images/home-blue.png" id="myImg" />
              <!-- </a> -->
              <!--</a>-->
            </li>
          </ul>
          <!--<label for="search"></label>-->
          <select name="search" id="search" class="form-control">
            
            <option aria-placeholder="Sök i Essvision">Sök i Essvision</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <button type="submit" class="btn everybtn" (click)= onSearch()>Sök iallt</button>
          <button class="btn btn-success" type="submit">
            <i class="fa fa-search"></i>
          </button>
          
        </div>
      </div>
    </nav>
    </div>
  