

@media (max-width:1199px) and (min-width:998px){
    /* #search{
        width:673px;
    }
    .btn-success{
        margin-left:750px;
    }
    .everybtn{
        margin-right:150px;
    } */
}
@media (max-width:997px) and (min-width:950px){
    /* #search{
        width:666px;
    }
    .btn-success{
        margin-left:720px;
    }
    .everybtn{
        margin-right:200px;
    } */
}
@media (max-width:950px) and (min-width:769px){
    #search{
        width:568px;
    }
    .btn-success{
        margin-left:620px;
    }
    .everybtn{
        margin-right:100px;
    }
}
@media (max-width:910px) and (min-width:768px){
    #search{
        width:568px;
    }
    .btn-success{
        margin-left:620px;
    }
    .everybtn{
        margin-right:100px;
    }
}