
<form class="myForm">
  <div class="form-group">
    <div class="form-group col-sm-12 col-md-12 col-lg-9">
			<label for="searchIn" class="control-label">Sök i</label>
			<select name="searchIn" class="form-control" id="searchIn">
				<option>Alla</option>
				<option>2</option>
      </select>
    </div>
    <div class="form-group col-sm-12 col-md-12 col-lg-9">
			<label for="status">Status</label>
			<select name="searchIn" class="form-control" id="status">
				<option>Alla</option>
				<option>2</option>
      </select>
    </div>
    <div class="form-group col-sm-12 col-md-12 col-lg-9">
			<label for="direction">Riktning</label>
			<select name="direction" class="form-control" id="direction">
				<option>Alla</option>
				<option>2</option>
      </select>
    </div>
    <div class="form-group col-sm-12 col-md-12 col-lg-9">
			<label for="date">Datumintevall</label>
      <input type="date" class="date" ng-datepicker ng-options="datepickerOptions" ng-model="date">--
      <input type="date" class="date" ng-datepicker ng-options="datepickerOptions" ng-model="date">
      </div>
      <hr>
      <div class="form-group col-sm-12 col-md-12 col-lg-9">
        <label for="title-bold">Gå till</label>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-9">
        <label for="caseNr">HandlingsID</label>
        <input type="date" class="date" ng-datepicker ng-options="datepickerOptions" ng-model="date">
        <input type="text">
        <button type="button" class="btn btn-primary openBtn1">Öppna</button>
      </div>
      <div class="form-group col-sm-12 col-md-12 col-lg-9">
          <label for="dio">Document ID</label>
          <input type="date" class="hDate" ng-datepicker ng-options="datepickerOptions" ng-model="date">
          <input type="text">
          <button type="button" class="btn btn-primary openBtn2">Öppna</button>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-9">
          <button type="button" class="btn">Senaste skapade</button>
          <button type="button" class="btn gray-btn">Senaste Öppnade</button>
          <a  class="linkBack"(click)="onGoBack()"> Tillbaka till hemsidan</a>
        </div>
    </div>
</form>
