/*You can add global styles to this file, and also import other style files*/

@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

h1 {
    font: 300 32px 'Lato', arial, sans-serif;
    margin-bottom: 1rem;
  }
  h2 {
    font: 400 24px 'Lato', arial, sans-serif;
    margin-bottom: 0.5rem;
  }
  h3 {
    font: 700 20px 'Lato', arial, sans-serif;
    margin-bottom: 0.5rem;
  }
  h4 {
    font: 700 18px 'Lato', arial, sans-serif;
    margin-bottom: 0.5rem;
  }
  h5 {
    font: italic 700 18px 'Lato', arial, sans-serif;
    margin-bottom: 0.5rem;
  }
  h6 {
    font: italic 700 16px 'Lato', arial, sans-serif;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
  em {
    font-style: italic;
  }
  ol {
    list-style: decimal;
    padding-left: 1.4rem;
    margin-bottom: 2rem;
  }

b {
    font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
  color: var(--body-fore-color);
  font: 400 14px/1.525em 'Lato-Light', arial, sans-serif;

}

h3 {
	text-align: center;
}
label{
  float:none;
  display: inline-block;
}
#myImg{
  width:35px;
  height: auto;
  margin-left: 0px;
}
.linkBack{
  text-decoration: underline #5491db !important;
  z-index: 1;
  font: inherit;
  margin-left: 30px;
  cursor: pointer;
}

ul > li {
list-style-type:none;
}

ul {
	text-decoration: none;
	display: inline-block;
}
.fa {
color:white;
}
#search{
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 50px;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}
.searchAll{
  float: right;
}
.btn-success {
  	width: 70px;
    height: 30px;
    background-color: #aacd4d;
    margin-top: -89px;
    border: none;
    box-shadow: none;
    clear: both;
    float: right;
    margin-right: -130px;
}
.col-lg-9{
  max-width: 100%;
}
.navbar{
  max-width: 100%;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:visited{
  background-color: #aacd4d !important;
  box-shadow: none;
}
#everyBtn{
  width: 70px;
  height: auto;
  float:right;
  margin-right: -30px;
  /* margin-top: -38px; */
  background-color: transparent !important;
  display: block;
}
.everybtn:hover,
.everybtn:active,
.everybtn:focus,
.everybtn:visited{
  box-shadow: none !important;
  border:none !important;
}
 .myForm{
  width: 100%;
    height: auto;
    border: 1px solid #ced4de;
    border-radius: 3px;
    margin-left: 50px;
}

.form-control{
  width: 50%;
  margin-left: 20px;
  margin-top: 5px;
  display: inline-block;
} 

.date{
    margin-left: 20px;
    margin-right: 15px;
}
.hDate{
    margin-left: 15px;
}
.gray-btn{
    margin-left:30px;
}
.openBtn1{
  background-color:#5491db;
  margin-left: 25px;
  box-shadow: none;
  border-color: #5491db;
}
.openBtn2{
  background-color:#5491db;
  margin-left: 30px;
  box-shadow: none;
  border-color: #5491db;
}
