<!-- <ul class="task-result">
  <li *ngFor="let key of ">
    <table *ngFor="let task of documentId[key]">
      <tr>
        <th>Serie</th>
        <th>Element</th>
        <th>Composition</th>
      </tr>
      <tr>
        <td>{{task.name}}</td>
        <td>{{task.documentId}}</td>
      </tr>
    </table>
  </li>
</ul> -->

  <table class=”table table-hover”>
  <tr>
  <th>#</th>
  <th>Task</th>
  <th></th>
  </tr>
  <tr *ngFor="let task of tasks">
  <td>{{task.id}}</td>
  <td>
 </td>
  </tr>
  </table>
  