.myTable{
    width: 100%;
    height: auto;
    /* border: 1px solid #ced4de; */
    border-radius: 3px;
    margin-left: 30px;
    padding-left: 25px;
    /* margin-top: -50px; */
}
.border-spacing{
    padding-bottom: 5em;
    font-weight: bold;
}
tr td:nth-child(2) {
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    padding-right: 50px;
}
td{
    width: 170%;
}